body{
  background-color: rgb(245, 198, 45);
}
.item-list{

display: flex;
justify-content: space-between;

background-color:#f4f4f4;
color:black;
font-size: 40px;
font-weight: 200;
/* font-weight: bolder; */
}
#space{
  height: 10px;
  background-color: black;
  
}
#delete-button{
  height:40px;
  width:90px;
  font-size: 16px;
  margin-bottom: 6px;
  background-color: crimson;
}
.item-amount{
 text-align: center;
 height:50px;
  font-size: 40px;
  
  background-color:darkgreen;
  color: chartreuse;
}